@media only screen{
  .same-height-row {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width:993px) {
  .same-height-row {
    display: flex;
    flex-direction: row;
  }
}

@media only screen and (min-width:993px) {
  .same-height-row {
    display: flex;
    flex-direction: row;
  }

  .lg-border-left {
    border-left: 1px solid black;
  }
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}